* {
    padding: 0;
    margin: 0;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(54, 59, 97) 38%, rgb(112, 119, 173) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
main {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
}
textarea {
    border-radius: 0px 9px 10px 0px;
    -webkit-border-radius: 0px 9px 10px 0px;
    -moz-border-radius: 0px 9px 10px 0px;
    resize: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}
