@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(54, 59, 97) 38%, rgb(112, 119, 173) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

main {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

textarea {
  padding: 5px;
  border-radius: 9px;
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.container_g {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.container_md, .container_mdf {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  color: #FFFFFF;
  width: 50%;
  height: 61%;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container_mdf {
  box-shadow: 0px 3px 8px 11px rgba(0, 0, 0, 0.29);
  width: 50%;
  height: 70%;
  margin-left: 0%;
  margin-right: 0%;
}

.box_md {
  height: -moz-fit-content;
  height: fit-content;
  gap: 30px;
  justify-content: space-between;
  text-align: justify;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  height: 100%;
}

#text {
  height: 30%;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#user-info {
  display: flex;
}

#subtitle_text {
  width: 80%;
}

#letter_count {
  color: #FFFFFF;
  padding: 5px;
  align-self: flex-end;
  font-size: 9px;
  height: 9px;
}

.card_side_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.card_text {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card_side_left, .card_side_left_gray, .card_side_left_lawngreen, .card_side_left_lightblue, .card_side_left_jade, .card_side_left_orange, .card_side_left_rose, .card_side_left_emerald, .card_side_left_red, .card_side_left_yellow, .card_side_left_olive, .card_side_left_aquamarine, .card_side_left_green, .card_side_left_blue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  height: 100%;
  width: 50%;
  background-color: #FFFFFF;
}
.card_side_left_blue {
  background-color: #21409A;
}
.card_side_left_green {
  background-color: #C2E0AE;
  color: #000000;
}
.card_side_left_aquamarine {
  background-color: #00AAAD;
}
.card_side_left_olive {
  background-color: #006C3B;
}
.card_side_left_yellow {
  background-color: #FFF685;
  color: #000000;
}
.card_side_left_red {
  background-color: #ED1C24;
}
.card_side_left_emerald {
  background-color: #00B274;
}
.card_side_left_rose {
  background-color: #FCD4D1;
  color: #000000;
}
.card_side_left_orange {
  background-color: #D4711A;
}
.card_side_left_jade {
  background-color: #72BF44;
}
.card_side_left_lightblue {
  background-color: #0066B3;
}
.card_side_left_lawngreen {
  background-color: #62A73B;
}
.card_side_left_gray {
  background-color: #1C1C1C;
}

.box-user {
  border-radius: 5px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cont-model {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardside {
  display: flex;
  flex-direction: row;
}

.models {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cardmodel {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.model {
  padding: 20px;
}

.input {
  border-radius: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 50%;
  margin: auto;
}

.endparent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.endparent .TitleEnd {
  width: 100%;
  padding: 70px 0;
}
.endparent .TitleEnd h2 {
  color: #FFFFFF;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
.arrow, .arrow_left {
  left: 5px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  transform: scaleX(-1);
}
.arrow input, .arrow_left input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.arrow_left {
  left: -5px;
  transform: scaleX(1);
}

.arrow:hover, .arrow_left:hover {
  border: solid 2px white;
  border-radius: 50%;
}

.arrow:after, .arrow_left:after {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 20px;
  height: 15px;
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}

.arrow:before, .arrow_left:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}

.arrow:hover:before, .arrow_left:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after, .arrow_left:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}
@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}
@keyframes borderAni {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}
.box_input input {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
}

.btn {
  background-color: transparent;
  align-items: center;
  border: rgba(0, 0, 0, 0.6) solid;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 15px;
}

.btn:hover {
  transition: 0.4s;
  background-color: deepskyblue;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */